/* 
Developer - Adewale, webmasterjdd@gmail.com
Company - Afriwood Streams
Date - 14th of Febrauary, 2924

*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; 
}

.audition-container{
    width: 100%;
    height: 100vh;
    
}


.audition-container img{
    width: 100%;
    height: 100%;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.audition-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}


.ad-copy h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ad-copy p {
    font-size: 1rem;
}

.register-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.expect{
    margin-right: 1rem;
}
.expect h3 {
    font-size: 1.125rem;
   
}

.expect ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.expect li {
    font-size: 0.9rem;
    margin-bottom: .625rem;
}

#signup input[type="text"],
#signup input[type="email"],
#signup input[type="tel"],
#signup button {
    display: block;
    margin-bottom: .625rem;
    padding: .625rem;
    max-width: 500px;    
}

#signup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#signup button:hover {
    background-color: #0056b3;
}

#timer {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff; 
    animation: bounce 1s infinite alternate; 
}

@keyframes bounce {
    from {
        transform: translateY(-0.625rem); 
    }
    to {
        transform: translateY(0.625rem); 
    }
}

.typewriter li {
    overflow: hidden;
    white-space: nowrap;
}

/* Apply the typewriter animation to each list item */
.typewriter li:nth-child(1) {
    animation: typewriter 2s steps(30) 1s forwards; 
}
.typewriter li:nth-child(2) {
    animation: typewriter 2s steps(30) 2s forwards; 
}
.typewriter li:nth-child(3) {
    animation: typewriter 2s steps(30) 3s forwards;
}
.typewriter li:nth-child(4) {
    animation: typewriter 2s steps(30) 4s forwards; 
}

/* Keyframe animation for typewriter effect */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

    .audition-container{
        height: 120vh;
    }
    
    .ad-copy {
        margin-bottom: 1%; 
        padding: 0 20px; 
        width: 100%; 
        box-sizing: border-box; 
        margin: 0 auto;
        margin-top: 9rem;
    }
    
    .ad-copy h2 {
        font-size: 1.2rem; 
        margin-bottom: 1rem; 
    }
    
    .ad-copy p {
        font-size: 0.8rem; 
        text-align: center; 
        margin-bottom: 1rem; 
        word-wrap: break-word; 
    }
    
  
    .register-form {
        flex-direction: column; 
        align-items: stretch; 
        
    }

    .register-form ul li{
        text-align: center;
    }

    
    .expect, #signup {
        margin: 0; 
        max-width: 100%; 
    }

    form input {
        width: 100%;
    }

    
   
}